<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LB Candidate Profile</title>

    <link href="CandidateProfile.css" rel="stylesheet" type="text/css"/>
    <link href="index.css" rel="stylesheet" type="text/css"/>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!--Complete Page-->
<div class="container-main">
    <!--Left Controls-->


    <!--Main Content-->
    <div id="main-content" class="container-fluid mx-auto justify-content-center">
        <!--Navigation-->


        <!--Dashboard-->
        <div class="row overview">
            <!--Candidate Details-->
            <div class="row overview-details" style="width: 87%;">

                <div class=" p-0 overview-info-details">
                    <h1 class="candidate-name" th:text="${jcm.candidateFirstName}+' ' +${jcm.candidateLastName} "></h1>
                    <div class="row candidate-contact">
                        <div class="p-0 candidate-phone">
                            <img src="img/smartphone-icon.svg" alt="Phone Icon"/>
                            <span th:text="${jcm.mobile} ?${jcm.countryCode+' '+jcm.mobile}: 'Not Available'"></span>
                        </div>
                        <div class=" p-0 candidate-mail">
                            <img src="img/email-icon.svg" alt="Mail Icon"/>
                            <span th:text="${jcm.email}?:'Not Available'">email</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 candidate-detail-container">
                <span class="  p-0 candidate-detail-heading">Candidate Details</span>

                <div class="row mt-3">
                    <div class="  detail__left__section">
                        <div class="row left__section__row" th:each="question, iStat : ${overviewValues}">
                            <div class="col-lg-4 left__section__question" th:text="${question.key}"> Question</div>
                            <div class="col-lg-8 left__section__answer"  th:text="${question.value}">Answer</div>
                        </div>

                    </div>
                </div>
            </div>


            <!--Candidate Review-->
            <div class="row overview-review">
                <div class="col-lg-6 m-0 p-0 overview-rating">
                    <span class="keyskill-heading">Key Skills Strength</span>
                    <div class="overview-rating-stars">
                        <img th:each="i : ${#numbers.sequence( 1, keySkills,1)}" class="expand-icon"
                             src="img/star-icon-new.svg" alt="star-icon"/>
                        <img th:each="i : ${#numbers.sequence( 1, (5-keySkills),1)}" class="expand-icon"
                             src="img/star-border-icon.svg" alt="star-icon"/>
                    </div>
                </div>

                <div class="overview-review-message">
                    <span>(based on resume)</span>
                </div>
                <div class="row m-0 mt-4 p-0 overview-review-skills">
                    <div class="col-4 m-0 p-0 review-skills-strong">
                        <p class="skills-heading-strong">Strong Skills Match
                        <p style="width: 129px;border-bottom: 5px solid #29B500;float:left;margin:0px"></p>

                        </p>
                        <div class="skills mt-3">
                            <span class="skill" th:each="skill,stat: ${strongSkills}" th:text="${skill.key} + ${stat.index==stat.size-1?'.':', '}"></span>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0 review-skills-weak">
                        <p class="skills-heading-weak">Weak Skills Match
                            <p style="width: 129px;border-bottom: 5px solid #F67738;float:left;margin:0px"></p>
                        </p>
                        <div class="skills mt-3">
                            <span class="skill" th:each="skill,stat : ${weakSkills}" th:text="${skill.key} + ${stat.index==stat.size-1?'.':', '}"></span>
                        </div>
                    </div>
                    <div class="col-4 m-0 p-0 review-skills-no">
                        <p class="skills-heading-no">No Skills Match
                            <p style="width: 129px;border-bottom: 5px solid #F02727;float:left; margin:0px"></p>
                        </p>
                        <div class="skills mt-3">
                            <span class="skill" th:each="skill,stat : ${noSkills}" th:text="${skill.key} + ${stat.index==stat.size-1?'.':', '}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        HeatMap-->
<!--        <th:block th:if="${!isQuickQuestion}">-->

<!--            <div class = "row litmus-heatmap">-->
<!--                <div class = "row heatmap-header">-->
<!--                    <div style=" float:left;">-->
<!--                        <span class="litmus-heatmap-header">Litmus Heatmap</span>-->
<!--                    </div>-->
<!--                    <div style="float: left;display: inline-block;">-->
<!--                        <div class = "row heatmap-expertise">-->
<!--                            <div class = "col-3">-->
<!--                                <span class="expertise">-->
<!--                                    <span class="expertise-btn&#45;&#45;strong">&nbsp;</span>-->
<!--                                    Strong Expertise-->
<!--                                </span>-->
<!--                            </div>-->
<!--                            <div class = "col-3">-->
<!--                                <span class="expertise">-->
<!--                                    <span class="expertise-btn&#45;&#45;good">&nbsp;</span>-->
<!--                                    Good Expertise-->
<!--                                </span>-->
<!--                            </div>-->
<!--                            <div class = "col-3">-->
<!--                                <span class="expertise">-->
<!--                                    <span class="expertise-btn&#45;&#45;less">&nbsp;</span>-->
<!--                                    Less Expertise-->
<!--                                </span>-->
<!--                            </div>-->
<!--                            <div class = "col-3">-->
<!--                                <span class="expertise">-->
<!--                                    <span class="expertise-btn&#45;&#45;no">&nbsp;</span>-->
<!--                                    No Expertise-->
<!--                                    </span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class = "row m-0 heatmap-columns">-->
<!--                    <div class = "heatmap-columns&#45;&#45;categories">-->
<!--                        <span class="heatmap-column-header&#45;&#45;text">SECTION</span>-->
<!--                    </div>-->
<!--                    <div class = "heatmap-columns&#45;&#45;skills">-->
<!--                        <span class="heatmap-column-header&#45;&#45;text">AREA</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <table>-->
<!--                    <tr class = "row m-0 heatmap-columns" th:each="skill: ${score}">-->
<!--                        <div class = "heatmap-columns&#45;&#45;categories">-->
<!--                            <td class="heatmap-header-column&#45;&#45;block" th:text="${skill.key}">-->
<!--                            </td>-->
<!--                        </div>-->
<!--                        <div class = "heatmap-columns&#45;&#45;skills" th:each="subSkill,stat:${skill.value.questions}">-->
<!--                            <td class="" th:classappend="${'heatmap-header-column&#45;&#45;blocks '+subSkill.score}" valign="middle" th:text="${subSkill.questionTag}"></td>-->
<!--                        </div>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </div>-->

<!--        </th:block>-->

<!--        <th:block th:if="${isQuickQuestion}">-->
<!--            <h1>TODO Quick Question</h1>-->
<!--        </th:block>-->

        <!--Questions-->

        <th:block th:if="${tech.size() != 0}">
            <div class="row Questions">
                <div class="Questions-heading">
                    <div class="row m-0 question-categories">
                        <div class="col-6 m-0 screening-questions--heading">
                            <span>Job Screening Questions (<span th:text="${tech.size()}"></span>)</span>
                        </div>

                    </div>
                </div>
                <div style="width:90%" th:each="question,stat : ${tech}" >
                    <span class="questions" th:text="${stat.index+1+'. '+question.key}">
                        question
                    </span>
                    <span class="answers" th:text="${question.value}">
                       answer
                    </span>
                </div>

            </div>
        </th:block>
        <!---Custom Questions-->
        <th:block th:if="${custom.size() != 0}">
            <div class="row Questions">
                <div class="Questions-heading">
                    <div class="row m-0 question-categories">
                        <div class="col-6 m-0 screening-questions--heading">
                            <span>Custom Questions (<span th:text="${custom.size()}"></span>)</span>
                        </div>

                    </div>
                </div>
                <div style="width:90%" th:each="question,stat : ${custom}">
                    <span class="questions" th:utext="${stat.index+1+'. '+question.key}">
                        question
                    </span>
                    <span class="answers" th:utext="${question.value}">
                       answer
                    </span>
                </div>
            </div>
        </th:block>


    </div>
</div>
</body>
</html>